<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <div style="text-align: center; padding-top: 100px;">

    <form action="/menu/job/add" method="post">
      Name <br>
      <input type="text" name="name">
      <br>
      <br>Category<br>
      <select name="category">
        <option value="pharmacist">
          Pharmacist
        </option>
        <option value="accounting">
          Accounting
        </option>
        <option value="it">
          IT
        </option>
      </select>
      <br><br>
      Requirment<br>
      <input type="text" name="requirement" placeholder="put your score">
      <br><br>
      <input type="submit" value="Submit">
      <br>
      <input type="text" name="fk" value="<%= data.id %>" hidden>
    </form>

  </div>

</body>

</html>