<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Demo</title>
</head>

<body>
  <div style="text-align: center; padding-top: 20%;">
    <form action="/signup" method="get">
      <input type="submit" value="Sign Up">
    </form>
    <br>
    <form action="/login" method="get">
      <input type="submit" value="Login">
    </form>
  </div>
</body>

</html>