<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>
</head>

<body>
    <% include partials/nav.ejs %>
  <div style="text-align: center; padding-top: 10%">
    <form action="/login" method="post">
      Email : <br>
      <input type="text" name="email" placeholder="email">
      <br>Password : <br>
      <input type="password" name="password" placeholder="password">
      <br>
      <br><br>
      <input type="submit" value="Login">
    </form>
    <br>
    <form action="/" method="get">
      <input type="submit" value="Cancel">
    </form>
  </div>

</body>

</html>