<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Up</title>
</head>

<body>
    <% include partials/nav.ejs %>
  <h2 style="text-align: center; padding-top: 50px">User SignUp</h2>

  <div style=" text-align: center; padding-top: 50px">
    
    <!-- Login -->
    <form action="/signup" method="post">
      First Name: <br>
      <input type="text" name="first_name">
      <br>
      Last Name: <br>
      <input type="text" name="last_name">
      <br>
      Email: <br>
      <input type="text" name="email">
      <br>
      Password: <br>
      <input type="password" name="password">
      <br>
      Role: <br>
      <select name="role">
        <option>
          company
        </option>
        <option>
          user
        </option>
      </select>
      <br><br><br>
      <input type="submit" value="Submit">
    </form>

    <br>
    <!-- Cancel -->
    <form action="/" method="get">
      <input type="submit" value="Cancel">
    </form>
  </div>

</body>

</html>